mixin advanages-list(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  - var items = [ {title: 'Облегчает', icon: '#ico-nose', text: 'заложенность носа'}, {title: 'Уменьшает', icon: '#throat-pain', text: 'боль в горле'}, {title: 'Устранаяет жар', icon: '#fever', text: 'и боль в мыщцах'}, {title: 'Укрепляет', icon: '#stronger', text: 'стенки сосудов'}, {title: 'Снижает', icon: '#lower', text: 'риск осложнений'}, {title: 'Блокируют', icon: '#blocked', text: 'размножение вируса'}]

  ul.advantages-list(class=spec.__class)&attributes(attributes)
    each item in items
      li.advantages-list__item
        svg.icon.advantages-list__icon
          use(xlink:href=item.icon)
        p.advantages-list__item-text.text
          span #{item.title}
          |  #{item.text}


