mixin footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.footer.footer--fixed(class=spec.__class)&attributes(attributes)
    .content.footer__content.footer__content--fixed
      div.footer__mobile
        p.text.text--alert ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ.
        p.text.text--alert НЕОБХОДИМО ОЗНАКОМИТЬСЯ С ИНСТРУКЦИЕЙ
        p.text.text--alert ИЛИ ПРОКОНСУЛЬТИРОВАТЬСЯ
        p.text.text--alert СО СПЕЦИАЛИСТОМ
      div.footer__desk
        p.text.text--alert ИМЕЮТСЯ ПРОТИВОПОКАЗАНИЯ.
        p.text.text--alert НЕОБХОДИМО ОЗНАКОМИТЬСЯ С ИНСТРУКЦИЕЙ
        p.text.text--alert ИЛИ ПРОКОНСУЛЬТИРОВАТЬСЯ СО СПЕЦИАЛИСТОМ
    <!--#include virtual="/tpl/footer" -->
