mixin footer(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  footer.footer.footer--fixed(class=spec.__class)&attributes(attributes)
    .content.footer__content.footer__content--fixed
        picture
          source(srcset='images/disclaimer-desk.png' media="(min-width: 980px)")
          source(srcset='images/disclaimer-laptop.png' media="(min-width: 400px)")
          img.footer__disclaimer(src='images/disclaimer-mobile.png' alt='дисклаймер')
