include  ../button/button

mixin intro(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.intro
    picture
      source(srcset='images/intro-back-desk.png' media="(min-width: 899px)")
      img.intro__back(src='images/intro-back.png' alt='кружка на столе')

    .intro__content.content
      .intro__left-side
          h2.intro__title.text.text--bg Насладись просмотром любимого кино с «АнвиМакс»
          p.intro__desc.text.text--reg Насладись просмотром любимого кино с «АнвиМакс».
            |  А&nbsp;чтобы&nbsp;простуда и грипп не омрачали новогоднее настроение, защити себя легендарной силой двойного действия!
          +button({
            __class: 'button--action intro__btn',
            title: 'подобрать фильм',
            link: '#generator',
            dataGa: 'Клик Подобрать фильм'
          })
      .intro__picture
        img(src="images/anvimax.png" alt='anvimaks от гриппа и простуды').intro__right-side.intro__image
