// intro styles
.intro {
  padding-top: 24px;
  position: relative;
  @media screen and (min-width: $tablet - 1) {

  }
  &__content {
    position: relative;
    @media screen and (min-width: $tablet - 1) {
      display: flex;
      justify-content: center;
      padding-bottom: 110px;
    }
    @media screen and (min-width: $desktop - 1) {
      justify-content: flex-start;
    }
  }
  @media screen and (min-width: $laptop - 1) {
    padding-top: 42px;
  }
  @media screen and (min-width: $desktop - 1) {
    padding-top: 120px;
    padding-bottom: 165px;
  }
}

.intro__title {
  margin-bottom: 8px;
  @media screen and (min-width: $laptop - 1) {
    margin-bottom: 12px;
  }
  @media screen and (min-width: $desktop - 1) {
    margin-bottom: 28px;
  }
}

.intro__desc {
  margin-bottom: 10px;
  @media screen and (min-width: $laptop - 1) {
    margin-bottom: 16px;
  }
  @media screen and (min-width: $desktop - 1) {
    max-width: 420px;
    margin-bottom: 36px;
  }
}
.intro__picture {
  @media screen and (min-width: $tablet - 1) {
    max-width: 50%;
  }
  @media screen and (min-width: $desktop - 1) {
    position: absolute;
    max-width: 70%;
    right: -155px;
    top: -30px
  }
}
.intro__image {
  max-width: 100%;
  height: auto;
  margin-top: -30px;
  margin-left: -20px;
  background-size: 100%;
  @media screen and (min-width: $laptop - 1) {
    max-width: 110%;
    margin-top: -60px;
    margin-left: -90px;
  }
  @media screen and (min-width: $tablet - 1) {
    margin-left: -55px;
  }
}
.intro__left-side {

  @media screen and (min-width: $tablet - 1) {
    width: 450px;
  }
  @media screen and (min-width: $desktop - 1) {
    max-width: 100%;
    width: 600px;
  }
}

