include  ../button/button

mixin intro(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.intro
    .content
      .intro__left-side
        h2.intro__title.text.text--bg Развлечение
         |  во&nbsp;время лечения
        p.intro__desc.text.text--reg Заболел во время праздников, но хочется обрести новогоднее настроение? Лечись с «Анвимакс», а наш киногенератор подберет фильм, чтобы ты не скучал!
        +button({
          __class: 'button--action intro__btn',
          title: 'подобрать фильм'
        })
      img(src="images/avimaks.png" alt='avimaks').intro__right-side.intro__image
