// categories styles
.categories {
  list-style: none;
  padding-left: 0;
  margin-top: 18px;
  @media screen and (min-width: $laptop - 1) {
    margin-top: 30px;
  }
  @media screen and (min-width: $tablet + 200) {
    display: flex;
  }
}

.category-card {
  max-width: 269px;
  margin: 0 auto 20px;
  position: relative;
  transition: 0.3s;

  &:hover {
    margin-bottom: 80px;
    @media screen and (min-width: $laptop - 1) {
      margin-bottom: 130px;
    }
    @media screen and (min-width: $tablet + 200) {
      margin-bottom: 100px;
    }

  }

  @media screen and (min-width: $laptop - 1) {
    max-width: 534px;
    margin-bottom: 40px;
  }

  @media screen and (min-width: $tablet + 200) {
    max-width: 353px;
    width: 30%;
    margin-bottom: 100px;
  }
}


.category-card__content {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}

.category-card__name {
  position: absolute;
  bottom: 8px;
  left: 15px;
  opacity: 1;
  white-space: nowrap;
  transition: 0.3s;

  .category-card:hover & {
    left: 110%;
    @media screen and (min-width: $laptop - 1) {
      left: 30px;
      bottom: 100px;
    }
    @media screen and (min-width: $tablet + 200) {
      left: 110%;
      bottom: 20px;
    }
  }

  @media screen and (min-width: $laptop - 1) {
    bottom: 20px;
    left: 30px;
  }

  @media screen and (min-width: $tablet + 200) {
    max-width: 100%;
    white-space: normal;
    bottom: 20px;
    width: 353px;
  }


}

.category-card__btn {
  position: absolute;
  left: -80%;
  bottom: 12px;
  transition: 0.3s;
  @media screen and (min-width: $laptop - 1) {
    bottom: 16px;
  }
  @media screen and (min-width: $tablet + 200) {
    left: -100%;
  }

  .category-card:hover & {
    left: 15px;
    @media screen and (min-width: $laptop - 1) {
      left: 25px;
    }
    @media screen and (min-width: $tablet + 200) {
      left: 3%;
    }
    @media screen and (min-width: $tablet + 350) {
      left: 30px;
    }
  }
}

.category-card__back {
  position: absolute;
  height: 110%;
  width: 100%;
  transform: rotate(10deg);
  left: 65%;
  top: 0;
  transition: 0.3s;
  background: linear-gradient(184.86deg, rgba(218, 41, 28, 0.9) 2.86%, rgba(106, 30, 60, 0.639) 51.18%, rgba(9, 22, 96, 0.9) 85.06%);

  .category-card:hover & {
    left: 110%;
  }
}

.category-card__image {
  img {
    vertical-align: bottom;
    @media screen and (min-width: $tablet + 200) {
      width: 100%;
      height: auto;
    }
  }
}

.category-card__progress {
  position: absolute;
  top: 120%;
  transition: 0.3s;
  opacity: 0;
  pointer-events: none;

  .category-card:hover & {
    top: 100%;
    opacity: 1;
    @media screen and (min-width: $laptop - 1) {
      top: 102%;
    }
  }
}
