include ../advantages-list/advantages-list

mixin advantages(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.advantages(class=spec.__class)&attributes(attributes)
    +advanages-list
    div.advantages__desc
      div.advantages__background
          img(src='images/santa.png')
      div.advantages__banner
        .advantages__left-image
          img(src='images/promo-left.png' alt="авимакс сожержит активный противоввирусный компонент")
        .advantages__right-image
          img(src='images/promo-right.png' alt="снимает симпоты и борется с вирусом")
        +button(
          {__class:'advantages__btn button--action',
          title: 'узнать больше '}
        )



