mixin svg_sprite(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  svg(width="0" height="0" class="visually-hidden")
    symbol#fb(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 50 50')
      path(d='M45 1H5C2.8 1 1 2.8 1 5v40c0 2.2 1.8 4 4 4h40c2.2 0 4-1.8 4-4V5c0-2.2-1.8-4-4-4z', fill='#3A5BA0')
      path(d='M32 26l1-5h-5v-4c0-1.5.8-2 3-2h2v-5h-4c-4.1 0-7 2.4-7 7v4h-5v5h5v14h6V26h4z', fill='#FFF')

    symbol#Odnoklassniki( viewbox='0 0 389.404 387.417')
      path(fill='#FAAB62', d='M389.404 330.724c0 31.312-25.383 56.693-56.693 56.693H56.693C25.382 387.417 0 362.036 0 330.724V56.693C0 25.382 25.382 0 56.693 0h276.018c31.311 0 56.693 25.382 56.693 56.693v274.031z')
      path(fill='#F7931E', d='M387.404 329.317c0 30.989-25.122 56.11-56.111 56.11H58.11c-30.989 0-56.11-25.121-56.11-56.11V58.1C2 27.111 27.122 1.99 58.11 1.99h273.183c30.989 0 56.111 25.122 56.111 56.11v271.217z')
      path(fill='#FFF', d='M194.485 57.901c-38.593 0-69.878 31.286-69.878 69.878 0 38.593 31.285 69.881 69.878 69.881s69.878-31.288 69.878-69.881c0-38.592-31.285-69.878-69.878-69.878zm0 98.766c-15.953 0-28.886-12.934-28.886-28.887s12.933-28.886 28.886-28.886 28.886 12.933 28.886 28.886-12.933 28.887-28.886 28.887z')
      g(fill='#FFF')
        path(d='M219.155 253.262c27.975-5.699 44.739-18.947 45.626-19.658 8.186-6.565 9.501-18.523 2.936-26.71-6.564-8.186-18.521-9.501-26.709-2.937-.173.14-18.053 13.856-47.472 13.876-29.418-.02-47.676-13.736-47.849-13.876-8.188-6.564-20.145-5.249-26.709 2.937-6.565 8.187-5.25 20.145 2.936 26.71.899.721 18.355 14.314 47.114 19.879l-40.081 41.888c-7.284 7.554-7.065 19.582.489 26.866a18.936 18.936 0 0013.187 5.322c4.978 0 9.951-1.945 13.679-5.812l37.235-39.665 40.996 39.922c7.428 7.416 19.456 7.404 26.87-.021 7.414-7.426 7.405-19.456-.021-26.87l-42.227-41.851z')
        path(d='M193.536 217.832c-.047 0 .046.001 0 .002-.046-.001.047-.002 0-.002z')

    symbol#vk(viewbox='0 0 202 202')
      defs
        path#a(d='M71.6 5h58.9C184.3 5 197 17.8 197 71.6v58.9c0 53.8-12.8 66.5-66.6 66.5H71.5C17.7 197 5 184.2 5 130.4V71.5C5 17.8 17.8 5 71.6 5z')
      use(xlink:href='#a', overflow='visible', fill-rule='evenodd', clip-rule='evenodd', fill='#5181b8')
      clippath#b
        use(xlink:href='#a', overflow='visible')
      path(d='M0 0h202v202H0z', clip-path='url(#b)', fill='#5181b8')
      path(d='M162.2 71.1c.9-3 0-5.1-4.2-5.1h-14c-3.6 0-5.2 1.9-6.1 4 0 0-7.1 17.4-17.2 28.6-3.3 3.3-4.7 4.3-6.5 4.3-.9 0-2.2-1-2.2-4V71.1c0-3.6-1-5.1-4-5.1H86c-2.2 0-3.6 1.7-3.6 3.2 0 3.4 5 4.2 5.6 13.6v20.6c0 4.5-.8 5.3-2.6 5.3-4.7 0-16.3-17.4-23.1-37.4-1.4-3.7-2.7-5.3-6.3-5.3H42c-4 0-4.8 1.9-4.8 4 0 3.7 4.7 22.1 22.1 46.4C70.9 133 87.2 142 102 142c8.9 0 10-2 10-5.4V124c0-4 .8-4.8 3.7-4.8 2.1 0 5.6 1 13.9 9 9.5 9.5 11.1 13.8 16.4 13.8h14c4 0 6-2 4.8-5.9-1.3-3.9-5.8-9.6-11.8-16.4-3.3-3.9-8.2-8-9.6-10.1-2.1-2.7-1.5-3.9 0-6.2 0-.1 17.1-24.1 18.8-32.3z', fill-rule='evenodd', clip-rule='evenodd', fill='#fff')




