//- Custom Configuration

include ../_modules/svg_sprite/svg_sprite
block config
  //- Setup site's base URL to match the "baseUrl" key within `package.json`
  //- Otherwise default to relative pathing
  - var baseUrl = config.baseUrl || './'

doctype html
<html class='no-js' lang='en'>

head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(property="og:title" content="Запусти генератор новогоднего настроения")
  meta(property="og:description" content="А при простуде и гриппе на помощь придет «АнвиМакс» — против симптомов и вируса!")
  meta(property="og:image" content="http://anvimax.ivi-sp.htc-cs.com/images/logo.png")
  meta(property="og:url"  content="http://anvimax.ivi-sp.htc-cs.com/")
  meta(name="twitter:card" content="summary_large_image")
  meta(property="og:type" content="website")
  <!--  Non-Essential, But Recommended -->
  meta(property="og:site_name" content="Анвимакс")
  meta(name="twitter:image:alt" content="Анвимакс")
  title Запусти генератор новогоднего настроения
  meta(name="description" content="А при простуде и гриппе на помощь придет «АнвиМакс» — против симптомов и вируса!")

  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='icon', type='image/x-icon', href='/favicon.ico')
  block stylesheets
    link(rel='stylesheet', href= baseUrl + 'styles/main.css')



body
  <!--[if lt IE 11]>
  <p class='browsehappy'>You are using an <strong>outdated</strong> browser. Please <a href='http://browsehappy.com/'>upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  +svg_sprite


  block content

  block scripts
    script(src= baseUrl + 'scripts/main.js')
    script(async='' src='https://www.googletagmanager.com/gtag/js?id=UA-45150148-1')
</html>
