@font-face {
  font-family: "Text Cound Pro";
  src: url("/fonts/regular/PFDinTextCondPro-Regular.woff") format("woff"),
  url("/fonts/regular/PF Din Text Cond Pro-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}


@font-face {
  font-family: "Text Cound Pro";
  src: url("/fonts/bold/PFDinTextCondPro-Bold.woff") format("woff"),
  url("/fonts/bold/pfdintextcondpro-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
