.height-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  min-width: 320px;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  @media screen and (min-width: $desktop - 1) {
    &::before{
      content: '';
      position: absolute;
      top: 190px;
      background-image: url(/images/snowflakes.png);
      display: block;
      width: 100%;
      max-width: 1854px;
      height: 1870px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1;
      pointer-events: none;
    }
  }
  @media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    transform: scale(0.8);
    top: -300px;
  }
}

