mixin progress-bar(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.progress-bar(class=spec.__class)&attributes(attributes)
    .progress-bar__content
      picture
        source(srcset="images/progress-bar.png" media="(min-width: 1100px)")
        source(srcset="images/long-progress-bar.png" media="(min-width: 579px)")
        img.progress-bar__logo(src="images/progress-bar.png" alt='прогресс-бар-анвимакс')
      p.progress-bar__text.text.text--progress-bar
        span 0
          |%


