mixin button(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.title = spec.title || 'кнопка'
  - spec.link = spec.link || null
  - spec.dataGa = spec.dataGa || null

  a.button.js-counters-click(class=spec.__class href=spec.link data-ga-event=spec.dataGa) #{spec.title}

