// button styles
.btn {
  font-family: inherit;
  cursor: pointer;
  border: none;
}


.button--action {
  height: 36px;
  width: 176px;
  border-radius: 26px;
  line-height: 1.625rem;
  font-weight: 700;
  color: $text-color;
  text-transform: uppercase;
  text-shadow: 0px 1.91266px 16.2576px rgba(0, 0, 0, 0.25);
  background: linear-gradient(90.07deg, #192464 36.59%, #DA291C 97.05%), linear-gradient(90deg, #1C2453 8.03%, #DA291C 97.14%);
  &:hover {
    background: linear-gradient(0deg, #DB291C, #DB291C), linear-gradient(90deg, #1C2453 8.03%, #DA291C 97.14%);
    box-shadow: 0px 2px 11px #FF2F2F;
  }

}
