mixin button(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''
  - spec.title = spec.title || 'кнопка'
  - spec.link = spec.link || null

  a.button(class=spec.__class)(href=spec.link) #{spec.title}

