include ../categories/categories

mixin generator(spec)
  - spec = spec || {}
  - spec.__class = spec.__class || ''

  div.generator(class=spec.__class)(id='generator')
    .content
      h2.generator__title.text.text--bg Запускай
        |  киногенератор и&nbsp;наслаждайся просмотром!
      p.text.text--reg Выбери, чтобы ты хотел испытать от просмотра
      +categories


