extends _layouts/base

include _modules/link/link
include _modules/header/header
include _modules/intro/intro
include _modules/advantages/advantages
include _modules/generator/generator
include _modules/result-list/result-list

include _modules/footer/footer


block content
  div.height-wrapper
    .container
      +header
      h1.visually-hidden Анвимакс
      .wrapper
        section.js-counters-scroll(data-ga-event='Продуктовый блок' data-ga-path='/product')
          +intro
          +advantages
        section.js-counters-scroll(data-ga-event='блок киногенератора' data-ga-path='/kino-generator')
          +generator
        section.js-counters-scroll(data-ga-event='подборка' data-ga-path='/result-list')
          +result-list
    +footer
